body{
    margin: 0;
   background-color: rgb(79, 74, 74);
}
.Mainbody{
    width: 100%;
    height: 2200px;
    background:pink;
}
.header1{
    width: 50%;
    height: 114px;
   background:#00D2C5;
   float: left;
   position: sticky;
   z-index: 1;
   top: 0;
   
}
.header1 hr{
 margin-top: 17px;

}
.logo{
    padding-left: 27px;
    padding-top: 18px;
}
.header2{
    width: 50%;
    height: 114px;
   background:#00D2C5;
   float: left;
   position: sticky;
   z-index: 1;
   top: 0;
  }
  .header2 hr{
    margin-top: 114px;
  
   }
.headerbutton{
    margin: 0;
  position: absolute;
 top: 50%;
  left:19%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
  .headerbutton button{
    background-color:Turquoise; color:white;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background: transparent;
   row-gap: 20px;
   
    
  }
  .headerbutton button:hover {
    text-decoration: underline;
  }

  .innerbody1{
    width: 100%;
    height: 836px;
    background-color: Turquoise;
    
  
  }
  .textbox {
    position: absolute;
    bottom: 130px;
    right: 840px;
    background-color:transparent;
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 58px;
   font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
  
    
  }
  .btn{
    position: absolute;
    top: 75%;
    left: 6%;
    background-color:transparent;
    width: 10%;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 19px;
border-color: white;
border-style: solid;
  }

  .text-banner2 {
    position: absolute;
    top: 161%;
    color: white;
    width: 100%;
    text-align: center;
    background:transparent;
}
.recipes-text-data2 {
  width: 45%;
  margin: auto;
  height: 150px;
  background-color: rgba(10, 91, 43, 0.8);
  border-radius: 100px;
  padding: 10px 0 43px 0;
}
h1, .h1 {
  font-size: 36px;
}
.text-p {
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
 
 
}

.button-banner2 {
  background: transparent;
  border: 2px solid white;
  border-radius: 30px;
  padding: 7px 36px;
  font-size: 15px;
  color: white;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}
.text-banner-h2{
  font-family: 'Montserrat', sans-serif;
}



.text-banner3 {
  position: absolute;
  top: 266%;
  color: white;
  width: 100%;
  text-align: center;
  background:transparent;
}
.recipes-text-data3 {
width: 45%;
margin: auto;
height: 150px;
background-color: rgba(10, 91, 43, 0.8);
border-radius: 100px;
padding: 10px 0 43px 0;
}
h1, .h1 {
font-size: 36px;
}
.text-p {
margin-bottom: 40px;
font-family: 'Montserrat', sans-serif;
font-size: 16px;


}

.button-banner3 {
background: transparent;
border: 2px solid white;
border-radius: 30px;
padding: 7px 36px;
font-size: 15px;
color: white;
font-size: 19px;
font-family: 'Montserrat', sans-serif;
}
.text-banner-h3{
font-family: 'Montserrat', sans-serif;
}
  .footer{
    width: 80%;
    height: 5.7%;
    background: rgb(79, 74, 74);
    padding-left: 300px;
    
  }
  .footer button{
   padding-top: 10px;
    color:white;
    border: none;
    font-weight: 600;
    font-size: 12px;
    background: transparent;
    
   
   
  }
  .footer button:hover {
    text-decoration: underline;
  }
  .footer p{
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding-left: 120px;
  }





  